<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/user.css')}}">
</head>
<body>
    <div class="main">
        <div class="navigation">
            <div class="logo">
                <img src="{{url_for('static', filename = 'images/ministry.png')}}" alt="logo">
    
            </div>
            <div class="nav">
                <ul>
                   
                    <li><a href="#" style="color: green;">Login</a></li>
                    <li><a href="#" style="background-color: rgb(243, 24, 24);font-weight: bold;">Register</a></li>
                
                </ul>
    
            </div>
        </div>

        <div class="landing">

        </div>

    </div>
 
   
    
</body>
</html>